@page
@model TaskAssign.Pages.AssignTasks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Assign Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label> Select a User</label>
            <select  asp-for="EmpAssignResult.EmpEmail" class="selectpicker" data-live-search="true">
                @foreach (var user in Model.ApplicationUsers)
                {
                    <option value=@user.Email data-tokens=@user.Email>@user.Name</option>
                }
            </select>
            <br />

            <label > Select a Task</label>
            <select asp-for="EmpAssignResult.TaskId" class="selectpicker" data-live-search="true">
                @foreach (var task in Model.TaskList)
                {
                 <option value=@task.TaskId data-tokens=@task.TaskId>@task.TaskName</option>
                }
            </select>



            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
