@model String
@{
    ViewData["Title"] = "TotalTime";
}

<h1>TotalTime</h1>
<h4 class="text-info">You Completed the task in @Model</h4>
<a class="btn btn-primary" asp-action="Index">Go back to tasks</a>